

    th{
        text-align: center;
        color: cornflowerblue;
    }
    body{
        background-color: black;
    }
    h2,h3,span,td{
        color: aliceblue; font-size: medium;
    }
        
    h3{
        color: aquamarine; font-size: large;
    }
    h1{
        color:white;
    }
    